/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body{
    font-family: 'bree serif';
   
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testoAlternato{
    border: 3px solid #666666;
    padding-block: 30px;
    padding-inline: 20px;
    line-height: 30px;
    height: 100px;
    width: 700px;
    font-size: 20px;
}

.parole{
    color: #6a889c;

}

#parola1{
       position: absolute;
        margin-left: 5px;
    opacity: 1;
    animation-name: alternanza;
    animation: alternanza 10s  step-end  infinite;
    animation-timing-function: linear;
}

#parola2{
    position: absolute;
    margin-left: 5px;
    opacity: 0;
    /* animation: alternanza 10s  both 10s infinite;*/
} 

#parola3{
    position: absolute;
    margin-left: 5px;
    opacity: 0;
    /* animation: alternanza 10s  both 20s infinite; */

}

@keyframes alternanza {
    0%{
        transform: translateY(-20px);
        opacity: 0;
        
    }
    12%{
        transform: translateY(-15px);
        opacity: 0.25;
    }
    25%{
        transform: translateY(-10px);
        opacity: 0.5;
    }
    37%{
        transform: translateY(-5px);
        opacity: 0.75;
    }
    50%{
        transform: translateY(0px);
       opacity: 1 ; 
    }

    62%{
        transform: translateY(5px);
        opacity: 0.75;
    }

    75%{
        transform: translateY(10px);
        opacity: 0.5;
    }
    87%{
        transform: translateY(15px);
        opacity: 0.25;
    }
    100%{
        transform: translateY(20px);
        opacity: 0;     
    }
}




